@import "./styles";
@mixin chat-box-style {
  position: relative;
  margin: 0;
  background: white;
  transition: height 0.2s;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif !important;
}

.chat-box-style-visible {
  @include chat-box-style;
  opacity: 1;
  width: 100%;
  height: 400px;
  @include mobile{
    height: calc(100% - 50px);
  };
}

.chat-box-style-invisible {
  @include chat-box-style;
  width: 100%;
  height: 0;
}

.submit-bottom-button {
  border: none;
  background: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  position: relative;
}
.payment-submit-button-active{
  @extend .submit-bottom-button;
  background: #EB5C00;
  color: white;
}
.payment-submit-button-inactive{
  @extend .submit-bottom-button;
}
.first-screen-next-active{
  @extend .submit-bottom-button;
  color: #EB5C00;
  bottom: 0;
  position: absolute;
}
.first-screen-next-inactive{
  @extend .submit-bottom-button;
  bottom: 0;
  position: absolute;
}
.post-new-query-button{
  @extend .submit-bottom-button;
  background: #EB5C00;
  color: white;
}
