.chat-screen{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: Roboto, sans-serif !important;
}
.message-container{
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow-y: auto;
  padding-bottom: 2px;
}
.powered-by{
  width: 105px;
  height: 17px;
  align-self: flex-end;
  padding: 5px;
}
.powered-by-container{
  display: flex;
  justify-content: flex-end;
  height: 65px;
}
