.doctor-profile {
  display: block;
  overflow-y: auto;
  line-height: 1;
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
}

.doctor-first-fold {
  text-align: center;
  background: #00A4B0;
  color: white;
  padding-bottom: 15px;

  .doctor-spec {
    font-size: 14px;
  }

  .doctor-exp {
    font-size: 14px;
  }

  .doctor-profile-name {
    text-transform: capitalize;
    font-weight: bold;
    padding: 0 0 8px 0;
    font-size: 18px;
  }

  .default-image{
    fill:white;
  }

  .doctor-image {
    border-radius: 100px;
    overflow: hidden;
    padding-bottom: 10px;

    .image-wrapper {
      img {
        border-radius: 40px;
        height: 80px;
        width: 80px;
      }
    }
  }
}

.doctor-second-fold {
  font-size: 15px;
  padding: 20px 4px 16px 16px;

  .second-fold-block {
    padding-bottom: 10px;

    .small-block {
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .small-block-left {
        flex: 5;

        .name {
          font-size: 16px;
          text-transform: capitalize;
          color: darken(white, 80%);
          line-height: 1.2;
        }

        .desc {
          font-size: 14px;
          text-transform: capitalize;
          color: darken(white, 70%);
          margin-top: 6px;
        }
      }

      .small-block-right {
        padding: 2px;
        color: darken(white, 80%);
        flex: 1;
      }
    }

    .second-fold-block-title {
      font-weight: 500;
      font-size: 14px;
      color: #1f1f1f;
    }
  }
}

.hr-color {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
