@import "./styles";
.error-component{
  z-index: 2;
  position: absolute;
  background: #FFB74D;
  display: flex;
  margin: 10px 20px 0px 10px;
  padding: 8px;
  align-items: center;
  font-family: Roboto, sans-serif;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  @include mobile{
    justify-content: space-between;
    width: 90%;
  };
  >div{
    padding: 0 3px;
  }
  .close-svg{
    display: flex;
    cursor: pointer;
  }
}
