.loading-screen{
  position: absolute;
  display: flex;
  z-index: 12;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(136, 136, 136, 0.5);
  height: 100%;
  .spinner-svg {
    svg{
      animation: rotator 1.4s linear infinite;
      circle{
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
      }
    }
  }
}
.loading-screen-visible{
  @extend .loading-screen;
}
.loading-screen-invisible{
  @extend .loading-screen;
  display: none;
}
@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
