.message-image{
  width: 100%;
}
.pdf-message{
  display: flex;
  align-items: center;
  .pdf-name{
    padding-left:10px;
    word-wrap: break-word;
    width: 76%;
  }
}
.picked-by-doctor{
  border-bottom: 1px solid #ddd;
  border: 0;
  box-sizing: border-box;
  background: inherit;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  line-height: 18px;
  padding: 0 20px 0 0;
  width: 100%;
  text-align: left;
}
.pay-now-button{
  font-family: Roboto, sans-serif !important;
  border-bottom: 1px solid #ddd;
  border: 0;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  color: #00A4B0;
  margin: 1px 0px;
  font-weight: 500;
  width: 40px;
  outline: none;
  line-height: 26px;
  width: 100%;
  height: 36px;
}
.pay-now-wrapper{
  margin: 20px -1px -1px -6px;
}
.special-message{
  text-align: center;
  font-size: 12px;
  width: 68%;
  padding: 2px 10px;
  background: #DFF0CB;
  line-height: 1.2;
  margin: 10px 10%;
  box-shadow: 1px 1px 1px 0px #c2dab6;
}
