@mixin messageCover {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  flex: 0 0 auto;
  min-width: 100px;
  .message-box {
    min-width: 52px;
    padding: 10px 10px 4px 10px;
    border-radius: 2px;
    word-wrap: break-word;
    .message-name{
      padding: 0 0 4px 0px;
      font-size: 12px;
      text-transform: capitalize;
      font-weight: bold;
    }
    .message-children{
      font-size: 13px;
      padding: 0;
    }
    .bottom-part{
      display: flex;
      font-size: 10px;
      float: right;
      padding: 3px 4px 0px 0px;
      .tick-container{
        padding: 0 2px 0 4px;
      }
    }
  }
}
@mixin message-hanging-arrow {
  width: 0px;
  height: 0px;
  box-sizing: border-box;
  border: 5px solid transparent;
}
.message-cover-right {
  @include messageCover;
  margin-right: 10%;
  margin-left: 2px;
  justify-content: flex-start;
  .message-box{
    background: #f4f4f4;
    border-bottom: 1px solid rgba(171, 171, 171, 0.5);
    border-right: 1px solid rgba(171, 171, 171, 0.5);
  }
  .message-name{
    color: #5b5b5b;
  }
  .bottom-part{
    color: #5b5b5b;
  }

  .message-hanging-right-arrow{
    @include message-hanging-arrow;
    border-top: 5px solid #f4f4f4;
    border-right: 5px solid #f4f4f4;
    border-top-left-radius: 0;
  }
  .message-hanging-right-arrow-hidden{
    @extend .message-hanging-right-arrow;
    border: 5px solid transparent;
  }
}
.message-cover-right-no-pad{
  @extend .message-cover-right;
  margin-top: 4px;
}
.message-cover-left{
  @include messageCover;
  justify-content: flex-end;
  margin-left: 10%;
  margin-right: 2px;
  .message-box{
    background: #00A4B0;
    color: white;
    border-bottom: 1px solid rgba(171, 171, 171, 0.5);
    border-left: 1px solid rgba(171, 171, 171, 0.5);
    border-top-right-radius: 0;
    .tick-color{
      fill: transparentize(white, 0.3);
    }
  }
  .bottom-part{
    color: transparentize(white, 0.3);
  }
  .message-hanging-left-arrow{
    @include message-hanging-arrow;
    border-top: 5px solid #00A4B0;
    border-left: 5px solid #00A4B0;
  }
  .message-hanging-left-arrow-hidden{
    @extend .message-hanging-left-arrow;
    border: 5px solid transparent;
  }
}
.message-cover-left-no-pad{
  @extend .message-cover-left;
  margin-top: 4px;
}
