.otp-verification{
  padding: 20px 20px;
  font-size: 14px;
  color: lighten(black, 20%);
  font-family: Roboto, sans-serif !important;
  .otp-text{
    width: 146px;
  }
}
.time-left{
  font-weight: bold;
}
.submit-button{
  border: 0;
  color: #ce7135;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background: transparent;
  line-height: 18px;
  margin: 10px 15px 0 0;
  padding: 0;
  font-family: Roboto, sans-serif !important;
}
.button-wrapper{
  padding: 30px 0;
}
.otp-field{
  margin-top: 10px;
  font-size: 14px !important;
  width: 250px !important;
}
