.payment-screen{
  display: block;
  position: absolute;
  background: #eeeeee;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.details-paper{
  margin: 8px;
  .details-title{
    padding: 16px 0 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: lighten(black, 40%);
  }
  .details-container{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 14px;
    flex-direction: column;
    .hr-color{
      color: #dfdfdf;
      width: 100%;
    }
    .details-block{
      display: flex;
      justify-content: space-between;
    }
    .details-text{
      font-weight: 700;
    }
    .details-left{
      .details-left-title{
        color: #00A4B0;
        font-size: 11px;
      }
    }
    .details-right{
      float: right;
      text-align: right;
      .details-right-title{
        color: #00A4B0;
        font-size: 11px;
      }
    }
  }
}
.promo-code-card{
  display: flex;
  margin: 10px 4px 0 0;
  padding: 10px 0 0 5px;
  align-items: center;
}
.promo-code-paper{
  margin: 8px;
  padding: 16px;
}
.promo-text-field{
  margin: -14px 0 0 16px;
}
.promo-code-text{
  font-size: 14px;
  font-weight: 500;
  color: lighten(black, 40%);
}
.promo-code-svg{
  fill: lighten(black, 40%);
}
.promo-code-wrapper{
  display: flex;
}
.promo-successful{
  display: flex;
  align-items: center;
  padding: 0 5px;
  padding: 7px 10px 4px 4px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  border-left: 2px solid #27c527;
  margin: -10px -14px -4px -15px;
  .promo-successful-message{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    border-radius: 2px;
    padding: 0px 3px 5px 8px;
  }
}
.promo-unsuccessful{
  @extend .promo-successful;
  border-left: 2px solid red;
}
.promo-apply-button{
  border-bottom: 1px solid #ddd;
  border: 0;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  color: #00A4B0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  outline: none;
  line-height: 26px;
  width: inherit;
}
