.query-name-phone-form {
  display: flex;
  flex-direction: column;
}

.patient-name {
  font-size: 14px !important;
  width: 208px !important;
  margin: 2px 33px 20px 16px !important;
}

.patient-phoneNo {
  font-size: 14px !important;
  width: 208px !important;
  margin: 0px 33px 20px 16px !important;
}

.query-body-name {
  font-size: 14px !important;
  width: 250px !important;
  margin: 0px 16px !important;
}
