.rating {
  unicode-bidi: bidi-override;
  text-align: center;
  cursor: pointer;
  font-size: 35px;
  background: #E8E8E8;
}
.submit-rating-button{
  font-family: Roboto, sans-serif !important;
  border-bottom: 1px solid #ddd;
  border: 0;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  color: #00A4B0;
  margin: 1px 0px;
  font-weight: 500;
  height: 38px;
  outline: none;
  line-height: 26px;
  width: 100%;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: #b5b5b5;
}

.rating {
  .with-stars:before {
    content: "\2605";
    position: relative;
    left: 0;
    color: gold;
  }
  .with-stars-no-click{
    @extend .with-stars;
    pointer-events: none;
  }
}
