.send-message-bar {
  display: flex;
  justify-content: space-around;
  .send-message-label{
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .image-upload {
    padding: 4px;
    input {
      display: none;
    }
    .attachement-svg{
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      fill: #696969;
      cursor: pointer;
    }
  }


  .send-icon-container {
    height: 32px;
    padding: 12px 16px 0 0;
    .send-icon{
      fill: #b5b5b5;
      width: inherit;
      height: inherit;
    }
    .send-icon-active{
      @extend .send-icon;
      fill: #696969;
      cursor: pointer;
    }
  }
  .send-message {
    border-bottom: 1px solid #ddd;
    border: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    line-height: 18px;
    padding: 0 20px 0 0;
    width: 100%;
  }
}
