@import "./styles";
.title-bar {
  font-family: Roboto, sans-serif;
  background: #00A4B0;
  justify-content: space-around;
  color: white;
  display: flex;
  font-weight: 500;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  z-index: 3;
  width: 100%;
}
.title-bar-no-shadow-color{
  @extend .title-bar;
  background: #EB5C00;
}
.title-bar-shadow{
  @extend .title-bar;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.title-bar-no-shadow{
  @extend .title-bar;
}
.title-bar-shadow-color{
  @extend .title-bar-shadow;
  background: #EB5C00;
}
.msg-unread-count {
  font-size: 12px;
  min-width: 30px;
  border-radius: 50%;
  min-height: 11%;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 0;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-right: 20px;
  color: #eb5c00;
}

.title-bar-block {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.go-back {
  fill: white;
  padding: 16px;
  display: flex;
  align-items: center;
}

.title-block {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  .hour-24-timer {
    font-size: 12px;
  }
}

.title-content {
  margin-top: 3px;
}

.dash-mise {
  margin-right: 16px;
  width: 35px;
}
